@font-face {
  font-family: "ActayWide";
  src: url("/public/fonts/ActayWide.woff2") format("woff2"),
    url("/public/fonts/ActayWide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "ActayWide", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-color-primary: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tg-theme-text-color);
  background-color: #102f31;
  color: var(--font-color-primary);
}

.loading-screen {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(123, 49, 143, 1) 0%,
    rgba(118, 42, 135, 1) 17%,
    rgba(95, 31, 117, 1) 37%,
    rgba(89, 27, 112, 1) 46%,
    rgba(75, 17, 101, 1) 60%,
    rgba(59, 14, 83, 1) 70%,
    rgba(40, 7, 62, 1) 85%,
    rgba(23, 4, 49, 1) 90%
  );
}

.content {
  flex-grow: 1;
}

/* #region header */

.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-username {
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 16px;
  display: flex;
  text-transform: uppercase;
}

.button-exit-header {
  background: none;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

/* #endregion */

/* #region footer */

.footer {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 8px;
  text-transform: uppercase;
}

.icon {
  font-size: 24px;
  margin-bottom: 4px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
}

.link-nav-menu {
  text-decoration: none;
  font-size: 12px;
  color: var(--font-color-primary);
}

/* #endregion */

/* #region main-page */
.username-main-page {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--font-color-primary);
  font-size: 20px;
  animation: slideIn 1s ease-out;
}

.position-mp {
  border: 1px solid #8b7e66;
  background-color: #8b7e66;
  padding: 8px;
  border-radius: 20px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 20px;
  animation: slideIn 1s ease-out;
}

.points-main-page {
  background-color: #c97a4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  width: 200px;
  height: 200px;
  text-transform: uppercase;
  animation: changeColor 2s ease-out infinite;
  animation-composition: add;
}

.current-quiz-main-page {
  width: 60px;
  height: 60px;
  background-color: purple;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
}

.btn-link-main-page {
  border: 1px solid #036465;
  padding: 4px;
  background-color: #036465;
  border-radius: 20px;
  opacity: 0;
  animation: pop 1s forwards;
}

.btn-link-main-page:nth-child(1) {
  animation-delay: 1s;
}

.btn-link-main-page:nth-child(2) {
  animation-delay: 1.5s;
}

.btn-link-main-page:nth-child(3) {
  animation-delay: 2s;
}

.link-list-mp {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
}

.motivational-quote {
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--font-color-primary);
  text-align: center;
  margin-top: 60px;
  animation: pulse 2s ease-in-out infinite;
}

.flip-animation {
  animation: flip 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(200px) rotateY(0deg);
    opacity: 1;
  }
}

/* @keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */
/* @keyframes gradientMove {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/* #endregion */

/* #region page-prediction */

.title-prediction {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 20px;
  color: var(--font-color-primary);
}

.container-leagues {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  gap: 20px;
}

.league {
  border: 1px solid #036465;
  border-radius: 20px;
  padding: 6px 10px;
  background-color: rgba(139, 126, 102, 0.3);
  opacity: 0;
  animation: pop 1s forwards;
}

.league:nth-child(1) {
  animation-delay: 0.5s;
}

.league:nth-child(2) {
  animation-delay: 1s;
}

.league:nth-child(3) {
  animation-delay: 1.5s;
}

.league:nth-child(4) {
  animation-delay: 2s;
}

.league:nth-child(5) {
  animation-delay: 2.5s;
}
.league:nth-child(6) {
  animation-delay: 3s;
}
.league:nth-child(7) {
  animation-delay: 3.5s;
}
.league:nth-child(8) {
  animation-delay: 4s;
}

.league-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 28px;
}

.league-title img {
  transform-origin: top center;
  opacity: 0;
  transform: scaleY(0);
  animation: unfoldFlag 1s forwards;
}

@keyframes unfoldFlag {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* #endregion */

/* #region page-quizes */

.header-quizes {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 36px;
  text-align: center;
}

.quiz-title {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
}

.container-card-quiz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.card-quiz {
  border: 1px solid #036465;
  background-color: (139, 126, 102, 0.3);
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  opacity: 0;
  animation: pop 1s forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* #endregion */

/* #region questions-modal */

.title-quiz-questions-page {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  text-align: center;
}

.btn-start-quiz {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  padding: 12px;
  border-radius: 20px;
  background-color: #036465;
  border: 1px solid #036465;
}

.facts-quiz {
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 16px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(45, 62, 61, 0.8);
  z-index: 1000;
}

.modal-content {
  background-color: rgb(16, 47, 49);
  padding: 20px;
  border-radius: 20px;
  height: 500px;
  max-height: 600px;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.btn-modal {
  margin: 20px 0;
  padding: 10px 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.btn-modal:disabled {
  background-color: #ccc;
}

.complete-button {
  background-color: #708d7e;
  color: var(--font-color-primary);
  border-radius: 20px;
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 10px;
  border: none;
  margin-left: 10px;
}

.close-button {
  background-color: #5a4b3a;
  border-radius: 20px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  border: none;
}

.slick-dots {
  display: none !important;
}

.slick-next {
  border-radius: 50%;
  background-color: #708d7e !important;
  top: 60% !important;
  right: 0 !important;
  border: #708d7e 1px solid !important;
  right: 0 !important;
  z-index: 999;
  width: 40px !important;
  height: 40px !important;
}
.slick-next:before {
  font-family: var(--font-primary) !important;
  font-size: 20px !important;
  color: var(--font-color-primary) !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}

.slick-prev {
  border-radius: 50%;
  background-color: #708d7e !important;
  top: 60% !important;
  right: 0 !important;
  border: #708d7e 1px solid !important;
  left: 0 !important;
  z-index: 999;
  width: 40px !important;
  height: 40px !important;
}
.slick-prev:before {
  font-family: var(--font-primary) !important;
  font-size: 20px !important;
  color: var(--font-color-primary) !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}

.question-title-modal {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
}

.list-questions {
  list-style: none;
  color: var(--font-color-primary);
  font-size: 12px;
  font-family: var(--font-primary);
}

/* #endregion */

/* #region pages-league */

.header-league-page {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 20px;
  text-align: center;
}

.predict-item {
  margin: 20px 20px 0 20px;
  border-radius: 20px;
  border: 1px solid #036465;
  padding: 10px 10px;
  background-color: rgba(139, 126, 102, 0.3);
}

.team {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  transition: 0.3s all;
}

.team:hover {
  color: #8e7a6b;
}

.vs {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
}

.modal-prediction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(45, 62, 61, 0.8);
  z-index: 1000;
}

.accept-choice {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  text-align: center;
}

input::placeholder {
  font-family: var(--font-primary);
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.input-points {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-family: var(--font-primary);
  font-size: 14px;
  text-align: center;
}

.input-points:focus {
  border: 1px solid #8e7a6b;
}

.btn-yes {
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 12px 0 0;
  background-color: #3c8d87;
  border-radius: 8px;
  border: none;
  color: var(--font-color-primary);
}

.btn-no {
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 8px 12px;
  background-color: #a6534d;
  border-radius: 8px;
  border: none;
  color: var(--font-color-primary);
}

.date-predict {
  text-align: center;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 12px;
  margin-top: 8px;
}

.time-predict{
  text-align: center;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 12px;
  
}

/* #endregion */

.history-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win {
  background-color: #d4edda;
  border: 2px solid #28a745;
}

.lose {
  background-color: #f8d7da;
  border: 2px solid #dc3545;
}

.draw {
  background-color: #fff3cd;
  border: 2px solid #ffc107;
}
.history-item.pending {
  background-color: #d3d3d3;
  border: 2px solid #ffc107;
}

.result-text {
  font-weight: bold;
}

/* .modal {
  top: 0;
  left: 20%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000; 
  max-width: 200px;

  width: 100%;
}

.modal h2 {
  margin: 0 0 20px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  margin-bottom: 10px;
}

.modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  opacity: 0.8;
}

.modal .close-button {
  background-color: #f44336; 
  color: white;
}

.modal .submit-button {
  background-color: #4caf50; 
  color: white;
} */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
