:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-size-main: 16px;
  --font-size-heading: 24px;
  --font-color-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  background-color: #010101df;
  color: var(--font-color-primary);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1; /* Контент занимает все оставшееся пространство */
}

.header {
  background-color: #052278; /* #568628 */
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #f0c040;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info p {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
}

.footer {
  background-color: #052278; /* #568628 */
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #f0c040;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--font-color-primary);
}

.link-nav-menu {
  text-decoration: none;
  font-size: 12px;
  color: var(--font-color-primary);
}

.button {
  background: none;
  color: var(--font-color-primary);
  font-size: var(--font-size-main);
  font-weight: 400;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.username {
  margin-left: auto;
}

.loading-screen {
  display: flex;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.loading-screen img {
  width: 100vh;
  height: 100vh;
  position: relative;
}
.text-loading-screen {
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 1000;
  color: whitesmoke;
  opacity: 0.3;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-heading);
  transform: translate(-50%, 50%);
}

.loading-text-secondary {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--font-size-main);
  color: whitesmoke;
  position: absolute;
  opacity: 0.8;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
}

.history-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win {
  background-color: #d4edda;
  border: 2px solid #28a745;
}

.lose {
  background-color: #f8d7da;
  border: 2px solid #dc3545;
}

.draw {
  background-color: #fff3cd;
  border: 2px solid #ffc107;
}
.history-item.pending {
  background-color: #d3d3d3;
  border: 2px solid #ffc107;
}

.result-text {
  font-weight: bold;
}

.modal {
  top: 0;
  left: 20%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000; /* Чтобы модальное окно было выше остальных элементов */
  max-width: 200px;

  width: 100%;
}

.modal h2 {
  margin: 0 0 20px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  margin-bottom: 10px;
}

.modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  opacity: 0.8;
}

.modal .close-button {
  background-color: #f44336; /* Красный цвет для кнопки закрытия */
  color: white;
}

.modal .submit-button {
  background-color: #4caf50; /* Зеленый цвет для кнопки отправки */
  color: white;
}
