@font-face {
  font-family: "ActayWide";
  src: url("/public/fonts/ActayWide.woff2") format("woff2"),
    url("/public/fonts/ActayWide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "ActayWide", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-size-main: 12px;
  --font-size-heading: 16px;
  --font-color-primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  background-color: #010101df;
  color: var(--font-color-primary);
}

.loading-screen {
  height: 100vh;
  /* display: flex;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color); */
  background: radial-gradient(
    circle,
    rgba(123, 49, 143, 1) 0%,
    rgba(118, 42, 135, 1) 17%,
    rgba(95, 31, 117, 1) 37%,
    rgba(89, 27, 112, 1) 46%,
    rgba(75, 17, 101, 1) 60%,
    rgba(59, 14, 83, 1) 70%,
    rgba(40, 7, 62, 1) 85%,
    rgba(23, 4, 49, 1) 90%
  );
}

.content {
  flex-grow: 1;
}



/* #region header */

.header {
  /* background: linear-gradient(
    90deg,
    rgba(36, 37, 67, 1) 0%,
    rgba(26, 27, 51, 1) 100%
  ); */
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
}

.header-username {
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 16px;
  display: flex;
  text-transform: uppercase;
}

.button-exit-header {
  background: none;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 24px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

/* #endregion */


/* #region footer */

.footer {
  /* background: linear-gradient(
    90deg,
    rgba(36, 37, 67, 1) 0%,
    rgba(26, 27, 51, 1) 100%
  ); */
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  position: absolute;
  bottom: 0;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 6px;
  text-transform: uppercase;
}

.icon {
  font-size: 24px;
  margin-bottom: 4px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
}

.link-nav-menu {
  text-decoration: none;
  font-size: 12px;
  color: var(--font-color-primary);
}

/* #endregion */


/* #region main-page */
 .username-main-page{
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  font-size: 36px;
 }

 .points-main-page{
  width: 80px;      
  height: 80px;     
  background-color: purple;  
  border-radius: 50%;         
  display: flex;
  align-items: center;        
  justify-content: center;     
  font-size: 24px;            
  color: var(--font-color-primary);
  font-family: var(--font-primary);                
 }

 .current-quiz-main-page{
  width: 60px;     
  height: 60px;     
  background-color: purple;  
  border-radius: 50%;         
  display: flex;
  align-items: center;        
  justify-content: center;     
  font-size: 16px;            
  color: var(--font-color-primary);
  font-family: var(--font-primary);                
 }
 
 .btn-link-main-page{
  background: none;
  border: none;
 }

 .link-list-mp{
  text-decoration: none;
  font-size: 24px;
  color: var(--font-color-primary);
  font-family: var(--font-primary);
 }

 /* #endregion */




/* .username {
  margin-left: auto;
} */

.history-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win {
  background-color: #d4edda;
  border: 2px solid #28a745;
}

.lose {
  background-color: #f8d7da;
  border: 2px solid #dc3545;
}

.draw {
  background-color: #fff3cd;
  border: 2px solid #ffc107;
}
.history-item.pending {
  background-color: #d3d3d3;
  border: 2px solid #ffc107;
}

.result-text {
  font-weight: bold;
}

.modal {
  top: 0;
  left: 20%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000; /* Чтобы модальное окно было выше остальных элементов */
  max-width: 200px;

  width: 100%;
}

.modal h2 {
  margin: 0 0 20px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  margin-bottom: 10px;
}

.modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  opacity: 0.8;
}

.modal .close-button {
  background-color: #f44336; /* Красный цвет для кнопки закрытия */
  color: white;
}

.modal .submit-button {
  background-color: #4caf50; /* Зеленый цвет для кнопки отправки */
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
